<form>
  <div class="form-group border border-dark">
    <label for="Playlistname">Name of the Playlist</label>
    <input type="text" class="form-control" id="Playlistname" aria-describedby="Playlistname" placeholder="Enter a Playlistname">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<form>
  <div class="form-group border border-dark">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="SearchSong">Song</label>
    <input type="text" class="form-control" id="SearchSong" placeholder="Song">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
